@inherits LayoutComponentBase
@using Sorcha.UI.Web.Client.Components.Layout

<div class="app-container">
    <TopBar />

    <div class="app-body">
        <div class="app-sidebar">
            <SideNav />
        </div>

        <main class="app-main">
            <article class="app-content">
                @Body
            </article>
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
